* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}
/* header rules */

header {
    background-color: black;
    position: fixed;
    z-index: 900;
    width: 100%;
}

.screen-options {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.text-box {
    background-color: #4a4949;
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}

/* main rules */

main {
    background-color: black;
    overflow-y: auto;
    height: 90vh;
    padding-top: 70px;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.facecam {
    width: calc(100% / 5 - 20px);
    position: relative;
}

.facecam-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facecam-name {
    background-color: #65717b6c;
    position: absolute;
    bottom: 2%;
    left: 0;
    padding: 5px;
}

/* footer rules */

footer {
    width: 100%;
    height: 10vh;
    background-color: #222222;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.fa-chevron-up {
    font-size: 10px;
}

.bottom-icons {
    text-align: center;
    font-size: 14px;

}

.bottom-icons .fa-solid {
    font-size: 24px;
    line-height: 1.5;
}

.col-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-sx {
    justify-content: start;
    flex-grow: 1;
    padding-left: 10px;
}

.footer-center {
    flex-grow: 2;
}

.footer-dx {
    justify-content: end;
    flex-grow: 1;
    height: 100%;
}


#end-meeting {
    display: flex;
    align-items: center;
    background-color: #4a4a4a;
    height: 100%;
    padding: 0 30px;
}

#end-meeting a {
    color: red;
}

#green-share {
    color: #49c500;
}

